<h2 id='title'>Welcome to Ember.js</h2>
<button type="button" class="btn btn-primary">button</button>
<i class="fa fa-won"></i>
<i class="fa fa-jpy"></i>
<span class="glyphicon glyphicon-bell"></span>
<i class="fa fa-bus fa-2x"></i>
{{outlet}}
